@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    background: url(/market.webp) no-repeat center center/cover;
    background-color: blue;
    border: thin solid #fff;
}
form#market{
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: thin solid rgb(71, 67, 67);
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    opacity: 100%;
}
form > *{
    font-family: 'Ubuntu', sans-serif;
}
form > label:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/6;
    display: flex;
    align-items: center;
}